<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login.css')}}"/>

</head>
<body>

<form action="/login" method="POST">
<div class="login">
        <h1>WELCOME,PLEASE LOGIN TO ENTER</h1>

<div class="login-screen">
<div class="app-title">
<h1>Login</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">

</div>
        <h1 >{{info}}</h1>

</div>
</div>
</form>
</body>
</html>