<!DOCTYPE html>
<html>
<head>
	<title>Height and Depth</title>


	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='profile.css')}}"/>

</head>


<body class="overlay-scrollbar">

	<!-- navbar -->
	<div class="navbar">
		<!-- nav left -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link">
					<i class="fa fa-bars" onclick="collapseSidebar()"></i>
				</a>
			</li>
			<li class="nav-item faculty">
				<b><!--username-->{{ session['username'] }}</b>
			</li>
		</ul>

		<form class="navbar-search">
			<input type="text" name="Search" class="navbar-search-input" placeholder="Search..">
			<i class="fa fa-search"></i>
		</form>

		<ul class="navbar-nav nav-right">
			<li class="nav-item mode">
				<a class="nav-link" href="#" onclick="switchTheme()">
					<i class="fa fa-moon-o dark"></i>
				</a>
			</li>

      <ul class="navbar-nav nav-right">
  			<li class="nav-item mode">
  				<a class="nav-link" href="#">
  					<i class="nothing"></i>
  				</a>
  			</li>


			<li class="nav-item">
			<li class="nav-item avt-wrapper">
				<div class="avt dropdown">

          <img src="static/logo.png" alt="User image" class="dropdown-toggle" data-toggle="user-menu">
					<ul id="user-menu" class="dropdown-menu">
						<li  class="dropdown-menu-item">
							<a href="/logout" class="dropdown-menu-link">
								<div>
									<i class="fa fa-sign-out"></i>
								</div>
								<span>Logout</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
		<!-- end nav right -->
	</div>
	<!-- end navbar -->
	<!-- sidebar -->
	<div class="sidebar">
		<ul class="sidebar-nav">
			<li class="sidebar-nav-item">
				<a href="/tree" class="sidebar-nav-link">
					<div>
						<i class="fa fa-tree"></i>
					</div>
					<span class='span'>
						Binary Tree
					</span>
				</a>
			</li>
			<li class="sidebar-nav-item">
				<a href="/properties" class="sidebar-nav-link">
					<div>
						<i class="fa fa-gear"></i>
					</div>
					<span class='span'>Properties</span>
				</a>
			</li>
			<li class="sidebar-nav-item">
				<a href="/types" class="sidebar-nav-link">
					<div>
						<i class="fa fa-sort"></i>
					</div>
					<span class='span'>Types</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="/insert" class="sidebar-nav-link">
					<div>
						<i class="fa fa-random"></i>
					</div>
					<span class='span'>Insert & Delete</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="/depth" class="sidebar-nav-link active">
					<div>
						<i class="fa fa-sort-amount-desc"></i>
					</div>
					<span class='span'>Height and Depth</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="/traversal" class="sidebar-nav-link">
					<div>
						<i class="fa fa-tasks"></i>
					</div>
					<span class='span'>Traversal</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="/practice" class="sidebar-nav-link">
					<div>
						<i class="fa fa-question-circle"></i>
					</div>
					<span class='span'>Practice Problems</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="wrapper">

		<div class="row">

			<div class="col-10 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h1 style="font-size:2.5rem;">
							Height and depth of a binary tree
						</h1>
          <!--  <i><a href="#" class="fancy-button bg-gradient1"><span>Edit Profile</span></a></i>-->
 </div>



					<div class="card-content">
						<br>
						<p><b>Depth</b>- The depth of a node is the number of edges from the node to the tree's root node.<br></p>
						<h3 style="font-size:1.5rem;">Finding depth of a tree</h3>
						<p><i>Recursively calculate height of left and right subtrees of a node and assign height to the node as max of the heights of two children plus 1.
						See below pseudo code and program for details.<br><br><b>Note </b>The depth of the root is 0.
						</i><p>
<img src="static/depth.png" alt="User image" class="center" style="height:600px;width:1000px;">
<br>
<h3>Example</h3>
<img src="static/depth-1.jpg" alt="User image" class="center">

<br>
<br>
<h3>Try it yourself</h3>
<iframe src="/v_depth" width="900" height="700" style="border:none;background:none transparent;" allowtransparency="true"></iframe>
<br>
<br>
<a href="#">
	<button class="fancy-button bg-gradient1" style="border:none; background:none;" type="submit" onClick="window.location.reload();">
		<span>Try again</span></button>
            </a>


<br>
<br><p>
<b>Height</b> – The height of a node is the number of edges on the longest downward path between that node and a leaf.</p>
<h3 style="font-size:1.5rem;">Finding Height of a tree</h3>

<p>The height of a binary tree is found using the recursive Depth-First Search (DFS) algorithm, as shown below:</p>
<ol>
<li><b>Base case:</b> If there is no node, return 0.

<li><b>Else: </b>If there are 1 or 2 children, return the maximum of the height of the left and right sub-trees, plus 1 to account for the current node. The height of a sub-tree is found by recursively calling the function, and passing the child node as the parameter.
</ol>
<br>
<h3>Example</h3>
<img src="static/height-3.jpg" alt="User image" class="center" style="height:500px;width:900px;">
<p>When looking at height:
<ol>
<li>Every node has height. So B can have height, so does A, C and D.
<li>Leaf cannot have height as there will be no path starting from a leaf.
<li>It is the longest path from the node to a leaf. So A's height is the number of edges of the path to E, NOT to G. And its height is 3.
</ol></p>
<br>
<br>
<h3>Try it yourself</h3>
<iframe src="/v_height" width="900" height="700" style="border:none;background:none transparent;" allowtransparency="true"></iframe>
<br>
<br>
<a href="#">
	<button class="fancy-button bg-gradient1" style="border:none; background:none;" type="submit" onClick="window.location.reload();">
		<span>Try again</span></button>
            </a>



</div>
			</div>
		</div>
	</div>

<script type = "text/javascript" src = "{{ url_for('static',filename = 'profile.js') }}" ></script>


</body>
</html>
