<div id="glowscript" class="glowscript">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="https://www.glowscript.org/css/redmond/2.1/jquery-ui.custom.css" rel="stylesheet" />
<link type="text/css" href="https://www.glowscript.org/css/ide.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/package/glow.3.1.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/package/RSrun.3.1.min.js"></script>
<script type="text/javascript"><!--//--><![CDATA[//><!--

// START JAVASCRIPT
;(function() {;
var ρσ_modules = {};
var t_x;
ρσ_modules.pythonize = {};

(function(){
    function strings() {
        var string_funcs, exclude, name;
        string_funcs = set("capitalize strip lstrip rstrip islower isupper isspace lower upper swapcase center count endswith startswith find rfind index rindex format join ljust rjust partition rpartition replace split rsplit splitlines zfill".split(" "));
        if (!arguments.length) {
            exclude = (function(){
                var s = ρσ_set();
                s.jsset.add("split");
                s.jsset.add("replace");
                return s;
            })();
        } else if (arguments[0]) {
            exclude = Array.prototype.slice.call(arguments);
        } else {
            exclude = null;
        }
        if (exclude) {
            string_funcs = string_funcs.difference(set(exclude));
        }
        var ρσ_Iter0 = string_funcs;
        ρσ_Iter0 = ((typeof ρσ_Iter0[Symbol.iterator] === "function") ? (ρσ_Iter0 instanceof Map ? ρσ_Iter0.keys() : ρσ_Iter0) : Object.keys(ρσ_Iter0));
        for (var ρσ_Index0 of ρσ_Iter0) {
            name = ρσ_Index0;
            (ρσ_expr_temp = String.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name] = (ρσ_expr_temp = ρσ_str.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name];
        }
    };
    if (!strings.__module__) Object.defineProperties(strings, {
        __module__ : {value: "pythonize"}
    });

    ρσ_modules.pythonize.strings = strings;
})();
async function __main__() {
"use strict";

    var version, display, vector, print, arange, __name__, type, scene, ρσ_ls, tintro, tintro1;
    version = ρσ_list_decorate([ "3.1", "glowscript" ]);
    Array.prototype['+'] = function(r) {return this.concat(r)}
    Array.prototype['*'] = function(r) {return __array_times_number(this, r)}
    window.__GSlang = "vpython";
    display = canvas;
    vector = vec;
    print = GSprint;
    arange = range;
    __name__ = "__main__";
    type = pytype;
    scene = canvas();
    fontloading();
    await waitforfonts();
    var strings = ρσ_modules.pythonize.strings;

    strings();
    "2";
    ρσ_interpolate_kwargs.call(this, button, [ρσ_desugar_kwargs({text: "Start", pos: scene.title_anchor, bind: start_preorder_traversal})]);
    "3";
    tintro = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Click on the start button to begin", align: "center", color: color.green, pos: vector(0, 11, 0)})]);
    "4";
    tintro1 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Click on the start button to begin again", align: "center", color: color.green, pos: vector(0, 11, 0)})]);
    "5";
    tintro1.visible = false;
    "6";
    (await delay(5));
    "7";
    function node() {;
    }
    node.prototype.__init__ = async function __init__(data) {
        var self = this;
        "9";
        self.data = data;
        "10";
        self.left = null;
        "11";
        self.right = null;
        "12";
        self.parent = null;
        "13";
        self.corof_x = 0;
        "14";
        self.corof_y = 0;
        "15";
        self.height = 0;
    };
    if (!node.prototype.__init__.__argnames__) Object.defineProperties(node.prototype.__init__, {
        __argnames__ : {value: ["data"]},
        __module__ : {value: null}
    });
    node.__argnames__ = node.prototype.__init__.__argnames__;
    node.__handles_kwarg_interpolation__ = node.prototype.__init__.__handles_kwarg_interpolation__;
    node.prototype.__repr__ = async function __repr__() {
                return "<"["+"](__name__)["+"](".")["+"](this.constructor.name)["+"](" #")["+"](this.ρσ_object_id)["+"](">");
    };
    node.prototype.__str__ = async function __str__() {
        return (await this.__repr__());
    };
    Object.defineProperty(node.prototype, "__bases__", {value: []});


    "17";
    async function delay(time) {
        var ρσ_ls, t, deltat;
        "18";
        t = 0;
        "19";
        deltat = .05;
        "20";
        while (t["<"](time)) {
            "21";
            (await rate(100));
            "22";
            t = t["+"](deltat);
        }
    };
    if (!delay.__argnames__) Object.defineProperties(delay, {
        __argnames__ : {value: ["time"]},
        __module__ : {value: null}
    });

    "24";
    async function start_preorder_traversal(b) {
        var ρσ_ls, list_objects, ttopic, tins1, arr, n, x, i, depth, tins11, list_of_nodes, list_of_texts, list_of_edges, cor_x, cor_y, cor_z, val1, val_pow, diff, _GS_1, nodex, data1, node1, root, t, index, edge, ring_pointer, t_x;
        "25";
        list_objects = ρσ_list_decorate([]);
        "26";
        tintro.visible = false;
        "27";
        tintro1.visible = false;
        "28";
        b.disabled = true;
        "29";
        ttopic = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Preorder traversal of a binary tree : ", align: "center", color: color.green, pos: vector(0, 11, 0)})]);
        "30";
        list_objects.append(ttopic);
        "31";
        (await delay(5));
        "32";
        while (true) {
            "33";
            try {
                "34";
                tins1 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Enter the elements as an array with space inbetween", align: "center", color: color.yellow, pos: vector(0, 8, 0)})]);
                "35";
                (await delay(15));
                (await sleep(.1));
                "36";
                arr = input("Enter the elements as an array with space inbetween");
                "37";
                arr = (await arr.split(" "));
                "38";
                n = len(arr);
                "39";
                for (var ρσ_Index1 = 0; ρσ_Index1["<"](n); ρσ_Index1++) {
                    i = ρσ_Index1;
                    "40";
                    x = int(arr[(typeof i === "number" && i["<"](0)) ? arr.length["+"](i) : i]);
                }
                "41";
                depth = floor(log(n, 2));
                "42";
                tins1.visible = false;
                "43";
                break;
                "44";
            } catch (ρσ_Exception) {
                ρσ_last_exception = ρσ_Exception;
                {
                    "45";
                    tins1.visible = false;
                    "46";
                    tins11 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Enter elements in proper format", align: "center", color: color.red, pos: vector(0, 8, 0)})]);
                    "47";
                    (await delay(15));
                    "48";
                    tins11.visible = false;
                    "49";
                    continue;
                }
            }
        }
        "50";
        depth = floor(log(n, 2));
        "51";
        list_of_nodes = ρσ_list_decorate([]);
        "52";
        list_of_texts = ρσ_list_decorate([]);
        "53";
        list_of_edges = ρσ_list_decorate([]);
        "54";
        cor_x = 0;
        "55";
        cor_y = 0;
        "56";
        cor_z = 0;
        "57";
        val1 = 1;
        "58";
        val_pow = 1;
        "59";
        diff = depth;
        "60";
        _GS_1 = new node;
        (await _GS_1.__init__(0));
        nodex = _GS_1;
        "61";
        for (var ρσ_Index2 = 0; ρσ_Index2["<"](n); ρσ_Index2++) {
            i = ρσ_Index2;
            "62";
            data1 = int(arr[(typeof i === "number" && i["<"](0)) ? arr.length["+"](i) : i]);
            "63";
            _GS_1 = new node;
            (await _GS_1.__init__(data1));
            node1 = _GS_1;
            "64";
            if ((i === val1 || typeof i === "object" && ρσ_equals(i, val1))) {
                "65";
                cor_x = 2["**"](diff);
                "66";
                diff=diff["-"](1);
                "67";
                val1=val1["+"](2["**"](val_pow));
                "68";
                val_pow=val_pow["+"](1);
                "69";
                cor_y=cor_y["-"](3);
                "70";
            }
            if ((i === 0 || typeof i === "object" && ρσ_equals(i, 0))) {
                "71";
                root = node1;
                "72";
                root.parent = nodex;
                "73";
                t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: data1, align: "center", color: color.orange, pos: vector(cor_x, cor_y, cor_z)})]);
                "74";
                list_objects.append(t);
                "75";
                list_of_texts.append(t);
                "76";
            } else {
                "77";
                if (ρσ_equals(i["%"](2), 0)) {
                    "78";
                    index = (await Math.floor(i["-"](2)["/"](2)));
                    "79";
                    node1.corof_x = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x["+"](cor_x);
                    "80";
                    node1.corof_y = cor_y;
                    "81";
                    node1.parent = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index];
                    "82";
                    t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: data1, align: "center", color: color.orange, pos: vector(node1.corof_x, cor_y, cor_z)})]);
                    "83";
                    list_objects.append(t);
                    "84";
                    list_of_texts.append(t);
                    "85";
                    edge = ρσ_interpolate_kwargs.call(this, arrow, [ρσ_desugar_kwargs({pos: vector(list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x, cor_y["+"](3), cor_z), axis: vector(cor_x, 2.5["-u"](), cor_z), shaftwidth: .1})]);
                    "86";
                    list_objects.append(edge);
                    "87";
                    list_of_edges.append(edge);
                    "88";
                    list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].right = node1;
                    "89";
                } else {
                    "90";
                    index = (await Math.floor(i["-"](1)["/"](2)));
                    "91";
                    node1.corof_x = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x["-"](cor_x);
                    "92";
                    node1.corof_y = cor_y;
                    "93";
                    node1.parent = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index];
                    "94";
                    t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: data1, align: "center", color: color.orange, pos: vector(node1.corof_x, cor_y, cor_z)})]);
                    "95";
                    list_objects.append(t);
                    "96";
                    list_of_texts.append(t);
                    "97";
                    edge = ρσ_interpolate_kwargs.call(this, arrow, [ρσ_desugar_kwargs({pos: vector(list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x, cor_y["+"](3), cor_z), axis: vector(cor_x["-u"](), 2.5["-u"](), cor_z), shaftwidth: .1})]);
                    "98";
                    list_objects.append(edge);
                    "99";
                    list_of_edges.append(edge);
                    "100";
                    list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].left = node1;
                }
            }
            "101";
            list_of_nodes.append(node1);
        }
        "103";
        ring_pointer = ρσ_interpolate_kwargs.call(this, ring, [ρσ_desugar_kwargs({pos: vector(list_of_nodes[0].corof_x, list_of_nodes[0].corof_y["+"](.5), 0), axis: vector(0, 0, 2), radius: 1, thickness: .1, color: color.white})]);
        "104";
        ring_pointer.visible = false;
        "105";
        t_x = n["-u"]();
        "106";
        async function preorder(temp) {
            var ρσ_ls, tins1;
            "107";
            if (!(temp)) {
                "108";
                return;
                "109";
            } else {
                "110";
                "111";
                t_x=t_x["+"](2);
                "112";
                tins1 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: temp.data, align: "center", color: color.cyan, pos: vector(t_x, 8, 0)})]);
                "113";
                list_objects.append(tins1);
                "114";
                ring_pointer.visible = false;
                "115";
                ring_pointer.pos = vector(temp.corof_x, temp.corof_y["+"](.5), 0);
                "116";
                ring_pointer.color = color.cyan;
                "117";
                ring_pointer.visible = true;
                "118";
                (await delay(5));
                "119";
                (await preorder(temp.left));
                "120";
                if ((temp.left !== null && (typeof temp.left !== "object" || ρσ_not_equals(temp.left, null)))) {
                    "121";
                    ring_pointer.visible = false;
                    "122";
                    ring_pointer.pos = vector(temp.corof_x, temp.corof_y["+"](.5), 0);
                    "123";
                    ring_pointer.color = color.white;
                    "124";
                    ring_pointer.visible = true;
                    "125";
                    (await delay(5));
                }
                "126";
                (await preorder(temp.right));
                "127";
                if ((temp.right !== null && (typeof temp.right !== "object" || ρσ_not_equals(temp.right, null)))) {
                    "128";
                    ring_pointer.visible = false;
                    "129";
                    ring_pointer.pos = vector(temp.corof_x, temp.corof_y["+"](.5), 0);
                    "130";
                    ring_pointer.color = color.white;
                    "131";
                    ring_pointer.visible = true;
                    "132";
                    (await delay(5));
                }
            }
        };
        if (!preorder.__argnames__) Object.defineProperties(preorder, {
            __argnames__ : {value: ["temp"]},
            __module__ : {value: null}
        });

        "135";
        (await preorder(root));
        "136";
        (await delay(20));
        "137";
        var ρσ_Iter3 = list_objects;
        ρσ_Iter3 = ((typeof ρσ_Iter3[Symbol.iterator] === "function") ? (ρσ_Iter3 instanceof Map ? ρσ_Iter3.keys() : ρσ_Iter3) : Object.keys(ρσ_Iter3));
        for (var ρσ_Index3 of ρσ_Iter3) {
            i = ρσ_Index3;
            "138";
            i.visible = false;
        }
        "139";
        ring_pointer.visible = false;
        "140";
        tintro1.visible = true;
        "141";
        b.disabled = false;
    };
    if (!start_preorder_traversal.__argnames__) Object.defineProperties(start_preorder_traversal, {
        __argnames__ : {value: ["b"]},
        __module__ : {value: null}
    });

};
if (!__main__.__module__) Object.defineProperties(__main__, {
    __module__ : {value: null}
});

;$(function(){ window.__context = { glowscript_container: $("#glowscript").removeAttr("id") }; __main__() })})()
// END JAVASCRIPT

//--><!]]></script>
</div>