<div id="glowscript" class="glowscript">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="https://www.glowscript.org/css/redmond/2.1/jquery-ui.custom.css" rel="stylesheet" />
<link type="text/css" href="https://www.glowscript.org/css/ide.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/package/glow.3.1.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/package/RSrun.3.1.min.js"></script>
<script type="text/javascript"><!--//--><![CDATA[//><!--

// START JAVASCRIPT
;(function() {;
var ρσ_modules = {};
ρσ_modules.pythonize = {};

(function(){
    function strings() {
        var string_funcs, exclude, name;
        string_funcs = set("capitalize strip lstrip rstrip islower isupper isspace lower upper swapcase center count endswith startswith find rfind index rindex format join ljust rjust partition rpartition replace split rsplit splitlines zfill".split(" "));
        if (!arguments.length) {
            exclude = (function(){
                var s = ρσ_set();
                s.jsset.add("split");
                s.jsset.add("replace");
                return s;
            })();
        } else if (arguments[0]) {
            exclude = Array.prototype.slice.call(arguments);
        } else {
            exclude = null;
        }
        if (exclude) {
            string_funcs = string_funcs.difference(set(exclude));
        }
        var ρσ_Iter0 = string_funcs;
        ρσ_Iter0 = ((typeof ρσ_Iter0[Symbol.iterator] === "function") ? (ρσ_Iter0 instanceof Map ? ρσ_Iter0.keys() : ρσ_Iter0) : Object.keys(ρσ_Iter0));
        for (var ρσ_Index0 of ρσ_Iter0) {
            name = ρσ_Index0;
            (ρσ_expr_temp = String.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name] = (ρσ_expr_temp = ρσ_str.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name];
        }
    };
    if (!strings.__module__) Object.defineProperties(strings, {
        __module__ : {value: "pythonize"}
    });

    ρσ_modules.pythonize.strings = strings;
})();
async function __main__() {
"use strict";

    var version, display, vector, print, arange, __name__, type, scene, ρσ_ls, ttopic, tins1, arr, n, x, i, depth, tins11, list_of_nodes, list_of_texts, list_of_edges, cor_x, cor_y, cor_z, val1, val_pow, diff, _GS_1, nodex, t_x, t_y, t_z, initial_list_of_texts, tia, t, data1, node1, root, index, edge, flag, flag1, tins2, del_node_data, tins5, tins6, tin4, tins3, answer;
    version = ρσ_list_decorate([ "3.1", "glowscript" ]);
    Array.prototype['+'] = function(r) {return this.concat(r)}
    Array.prototype['*'] = function(r) {return __array_times_number(this, r)}
    window.__GSlang = "vpython";
    display = canvas;
    vector = vec;
    print = GSprint;
    arange = range;
    __name__ = "__main__";
    type = pytype;
    scene = canvas();
    fontloading();
    await waitforfonts();
    var strings = ρσ_modules.pythonize.strings;

    strings();
    "2";
    function node() {;
    }
    node.prototype.__init__ = async function __init__(data) {
        var self = this;
        "4";
        self.data = data;
        "5";
        self.left = null;
        "6";
        self.right = null;
        "7";
        self.parent = null;
        "8";
        self.corof_x = 0;
        "9";
        self.corof_y = 0;
        "10";
        self.height = 0;
    };
    if (!node.prototype.__init__.__argnames__) Object.defineProperties(node.prototype.__init__, {
        __argnames__ : {value: ["data"]},
        __module__ : {value: null}
    });
    node.__argnames__ = node.prototype.__init__.__argnames__;
    node.__handles_kwarg_interpolation__ = node.prototype.__init__.__handles_kwarg_interpolation__;
    node.prototype.__repr__ = async function __repr__() {
                return "<"["+"](__name__)["+"](".")["+"](this.constructor.name)["+"](" #")["+"](this.ρσ_object_id)["+"](">");
    };
    node.prototype.__str__ = async function __str__() {
        return (await this.__repr__());
    };
    Object.defineProperty(node.prototype, "__bases__", {value: []});


    "12";
    ttopic = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Binary Tree insertion and deletion", align: "center", color: color.green, pos: vector(0, 11, 0)})]);
    "13";
    (await delay(5));
    "14";
    while (true) {
        "15";
        try {
            "16";
            tins1 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Enter the elements as an array with space inbetween", align: "center", color: color.yellow, pos: vector(0, 8, 0)})]);
            "17";
            (await delay(15));
            (await sleep(.1));
            "18";
            arr = input("Enter the elements as an array with space inbetween");
            "19";
            arr = (await arr.split(" "));
            "20";
            n = len(arr);
            "21";
            for (var ρσ_Index1 = 0; ρσ_Index1["<"](n); ρσ_Index1++) {
                i = ρσ_Index1;
                "22";
                x = int(arr[(typeof i === "number" && i["<"](0)) ? arr.length["+"](i) : i]);
            }
            "23";
            depth = floor(log(n, 2));
            "24";
            break;
            "25";
        } catch (ρσ_Exception) {
            ρσ_last_exception = ρσ_Exception;
            {
                "26";
                tins1.visible = false;
                "27";
                tins11 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Enter elements in proper format", align: "center", color: color.red, pos: vector(0, 8, 0)})]);
                "28";
                (await delay(15));
                "29";
                tins11.visible = false;
                "30";
                continue;
            }
        }
    }
    "31";
    list_of_nodes = ρσ_list_decorate([]);
    "32";
    list_of_texts = ρσ_list_decorate([]);
    "33";
    list_of_edges = ρσ_list_decorate([]);
    "34";
    cor_x = 0;
    "35";
    cor_y = 0;
    "36";
    cor_z = 0;
    "37";
    val1 = 1;
    "38";
    val_pow = 1;
    "39";
    diff = depth;
    "40";
    _GS_1 = new node;
    (await _GS_1.__init__(0));
    nodex = _GS_1;
    "41";
    t_x = n["-u"]();
    "42";
    t_y = 5;
    "43";
    t_z = 0;
    "44";
    initial_list_of_texts = ρσ_list_decorate([]);
    "45";
    tins1.visible = false;
    "46";
    tia = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Input array representation of a tree : ", align: "center", color: color.yellow, pos: vector(0, t_y["+"](3), t_z)})]);
    "47";
    for (var ρσ_Index2 = 0; ρσ_Index2["<"](n); ρσ_Index2++) {
        i = ρσ_Index2;
        "48";
        t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: arr[(typeof i === "number" && i["<"](0)) ? arr.length["+"](i) : i], align: "center", color: color.orange, pos: vector(t_x, t_y, t_z)})]);
        "49";
        initial_list_of_texts.append(t);
        "50";
        t_x=t_x["+"](2);
    }
    "51";
    for (var ρσ_Index3 = 0; ρσ_Index3["<"](n); ρσ_Index3++) {
        i = ρσ_Index3;
        "52";
        (await delay(5));
        "53";
        initial_list_of_texts[(typeof i === "number" && i["<"](0)) ? initial_list_of_texts.length["+"](i) : i].visible = false;
        "54";
        if (ρσ_equals(i, n["-"](1))) {
            "55";
            tia.visible = false;
        }
        "56";
        data1 = int(arr[(typeof i === "number" && i["<"](0)) ? arr.length["+"](i) : i]);
        "57";
        _GS_1 = new node;
        (await _GS_1.__init__(data1));
        node1 = _GS_1;
        "58";
        if ((i === val1 || typeof i === "object" && ρσ_equals(i, val1))) {
            "59";
            cor_x = 2["**"](diff);
            "60";
            diff=diff["-"](1);
            "61";
            val1=val1["+"](2["**"](val_pow));
            "62";
            val_pow=val_pow["+"](1);
            "63";
            cor_y=cor_y["-"](3);
            "64";
        }
        if ((i === 0 || typeof i === "object" && ρσ_equals(i, 0))) {
            "65";
            root = node1;
            "66";
            root.parent = nodex;
            "67";
            t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: data1, align: "center", color: color.orange, pos: vector(cor_x, cor_y, cor_z)})]);
            "68";
            list_of_texts.append(t);
            "69";
        } else {
            "70";
            if (ρσ_equals(i["%"](2), 0)) {
                "71";
                index = (await Math.floor(i["-"](2)["/"](2)));
                "72";
                node1.corof_x = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x["+"](cor_x);
                "73";
                node1.corof_y = cor_y;
                "74";
                node1.parent = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index];
                "75";
                t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: data1, align: "center", color: color.orange, pos: vector(node1.corof_x, cor_y, cor_z)})]);
                "76";
                list_of_texts.append(t);
                "77";
                edge = ρσ_interpolate_kwargs.call(this, arrow, [ρσ_desugar_kwargs({pos: vector(list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x, cor_y["+"](3), cor_z), axis: vector(cor_x, 2.5["-u"](), cor_z), shaftwidth: .1})]);
                "78";
                list_of_edges.append(edge);
                "79";
                list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].right = node1;
                "80";
            } else {
                "81";
                index = (await Math.floor(i["-"](1)["/"](2)));
                "82";
                node1.corof_x = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x["-"](cor_x);
                "83";
                node1.corof_y = cor_y;
                "84";
                node1.parent = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index];
                "85";
                t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: data1, align: "center", color: color.orange, pos: vector(node1.corof_x, cor_y, cor_z)})]);
                "86";
                list_of_texts.append(t);
                "87";
                edge = ρσ_interpolate_kwargs.call(this, arrow, [ρσ_desugar_kwargs({pos: vector(list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x, cor_y["+"](3), cor_z), axis: vector(cor_x["-u"](), 2.5["-u"](), cor_z), shaftwidth: .1})]);
                "88";
                list_of_edges.append(edge);
                "89";
                list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].left = node1;
            }
        }
        "90";
        list_of_nodes.append(node1);
    }
    "93";
    flag = true;
    "94";
    while (flag) {
        "95";
        flag1 = false;
        "96";
        while (true) {
            "97";
            tins2 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Enter an element to be deleted", align: "center", color: color.cyan, pos: vector(0, 8, 0)})]);
            "98";
            (await delay(15));
            "99";
            tins2.visible = false;
            "100";
            try {
                (await sleep(.1));
                "101";
                del_node_data = int(input("Enter an element to be deleted"));
                "102";
                break;
                "103";
            } catch (ρσ_Exception) {
                ρσ_last_exception = ρσ_Exception;
                {
                    "104";
                    tins5 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Enter element in proper format : ", align: "center", color: color.red, pos: vector(0, 8, 0)})]);
                    "105";
                    (await delay(15));
                    "106";
                    tins5.visible = false;
                    "107";
                    continue;
                    "108";
                }
            }
        }
        if ((n === 1 || typeof n === "object" && ρσ_equals(n, 1)) && (list_of_nodes[0].data === del_node_data || typeof list_of_nodes[0].data === "object" && ρσ_equals(list_of_nodes[0].data, del_node_data))) {
            "109";
            list_of_nodes.pypop(1["-u"]());
            "110";
            list_of_texts[0].visible = false;
            "111";
            list_of_texts.pypop(1["-u"]());
            "112";
            flag = false;
            "113";
            tins6 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Tree is deleted", align: "center", color: color.cyan, pos: vector(0, 8, 0)})]);
            "114";
        } else {
            "115";
            for (var ρσ_Index4 = 0; ρσ_Index4["<"](n); ρσ_Index4++) {
                i = ρσ_Index4;
                "116";
                if ((list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].data === del_node_data || typeof list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].data === "object" && ρσ_equals(list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].data, del_node_data))) {
                    "117";
                    if (ρσ_equals(i, n["-"](1))) {
                        "118";
                        list_of_nodes.pypop(1["-u"]());
                        "119";
                        list_of_texts[(typeof i === "number" && i["<"](0)) ? list_of_texts.length["+"](i) : i].visible = false;
                        "120";
                        list_of_edges[ρσ_bound_index(n["-"](2), list_of_edges)].visible = false;
                        "121";
                        list_of_texts.pypop(1["-u"]());
                        "122";
                        list_of_edges.pypop(1["-u"]());
                        "123";
                        flag1 = true;
                        "124";
                        n=n["-"](1);
                        "125";
                        break;
                    }
                    "126";
                    list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].data = list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].data;
                    "127";
                    if ((list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent !== null && (typeof list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent !== "object" || ρσ_not_equals(list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent, null))) && (list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.left === list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)] || typeof list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.left === "object" && ρσ_equals(list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.left, list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)]))) {
                        "128";
                        list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.left = null;
                        "129";
                    } else if ((list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent !== null && (typeof list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent !== "object" || ρσ_not_equals(list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent, null))) && (list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.right === list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)] || typeof list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.right === "object" && ρσ_equals(list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.right, list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)]))) {
                        "130";
                        list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.left = null;
                    }
                    "131";
                    list_of_nodes.pypop(1["-u"]());
                    "132";
                    list_of_texts[(typeof i === "number" && i["<"](0)) ? list_of_texts.length["+"](i) : i].visible = false;
                    "133";
                    t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: list_of_texts[ρσ_bound_index(n["-"](1), list_of_texts)].text, align: "center", color: color.orange, pos: vector(list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].corof_x, list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].corof_y, cor_z)})]);
                    "134";
                    list_of_texts[(typeof i === "number" && i["<"](0)) ? list_of_texts.length["+"](i) : i] = t;
                    "135";
                    list_of_texts[ρσ_bound_index(n["-"](1), list_of_texts)].visible = false;
                    "136";
                    list_of_texts[(typeof i === "number" && i["<"](0)) ? list_of_texts.length["+"](i) : i].visible = true;
                    "137";
                    list_of_edges[ρσ_bound_index(n["-"](2), list_of_edges)].visible = false;
                    "138";
                    list_of_texts.pypop(1["-u"]());
                    "139";
                    list_of_edges.pypop(1["-u"]());
                    "140";
                    n = n["-"](1);
                    "141";
                    flag1 = true;
                    "142";
                    break;
                    "143";
                }
            }
            if (!(flag1)) {
                "144";
                tin4 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "The element you entered is not in the given tree.", align: "center", color: color.red, pos: vector(0, 8, 0)})]);
                "145";
                (await delay(15));
                "146";
                tin4.visible = false;
                "147";
                continue;
            }
            "148";
            tins3 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Do you want to delete more? Then type YES else type NO", align: "center", color: color.cyan, pos: vector(0, 8, 0)})]);
            "149";
            (await delay(15));
            "150";
            tins3.visible = false;
            (await sleep(.1));
            "151";
            answer = input("Do you want to delete more? Then type YES else type NO");
            "152";
            if (!((ρσ_equals((await answer.lower()), "yes")))) {
                "153";
                flag = false;
            }
        }
    }
    "155";
    async function delay(time) {
        var ρσ_ls, t, deltat;
        "156";
        t = 0;
        "157";
        deltat = .05;
        "158";
        while (t["<"](time)) {
            "159";
            (await rate(100));
            "160";
            t = t["+"](deltat);
        }
    };
    if (!delay.__argnames__) Object.defineProperties(delay, {
        __argnames__ : {value: ["time"]},
        __module__ : {value: null}
    });

};
if (!__main__.__module__) Object.defineProperties(__main__, {
    __module__ : {value: null}
});

;$(function(){ window.__context = { glowscript_container: $("#glowscript").removeAttr("id") }; __main__() })})()
// END JAVASCRIPT

//--><!]]></script>
</div>