<div id="glowscript" class="glowscript">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="https://www.glowscript.org/css/redmond/2.1/jquery-ui.custom.css" rel="stylesheet" />
<link type="text/css" href="https://www.glowscript.org/css/ide.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/package/glow.3.1.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/package/RSrun.3.1.min.js"></script>
<script type="text/javascript"><!--//--><![CDATA[//><!--

// START JAVASCRIPT
;(function() {;
var ρσ_modules = {};
ρσ_modules.pythonize = {};

(function(){
    function strings() {
        var string_funcs, exclude, name;
        string_funcs = set("capitalize strip lstrip rstrip islower isupper isspace lower upper swapcase center count endswith startswith find rfind index rindex format join ljust rjust partition rpartition replace split rsplit splitlines zfill".split(" "));
        if (!arguments.length) {
            exclude = (function(){
                var s = ρσ_set();
                s.jsset.add("split");
                s.jsset.add("replace");
                return s;
            })();
        } else if (arguments[0]) {
            exclude = Array.prototype.slice.call(arguments);
        } else {
            exclude = null;
        }
        if (exclude) {
            string_funcs = string_funcs.difference(set(exclude));
        }
        var ρσ_Iter0 = string_funcs;
        ρσ_Iter0 = ((typeof ρσ_Iter0[Symbol.iterator] === "function") ? (ρσ_Iter0 instanceof Map ? ρσ_Iter0.keys() : ρσ_Iter0) : Object.keys(ρσ_Iter0));
        for (var ρσ_Index0 of ρσ_Iter0) {
            name = ρσ_Index0;
            (ρσ_expr_temp = String.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name] = (ρσ_expr_temp = ρσ_str.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name];
        }
    };
    if (!strings.__module__) Object.defineProperties(strings, {
        __module__ : {value: "pythonize"}
    });

    ρσ_modules.pythonize.strings = strings;
})();
async function __main__() {
"use strict";

    var version, display, vector, print, arange, __name__, type, scene, ρσ_ls, tintro, tintro1;
    version = ρσ_list_decorate([ "3.1", "glowscript" ]);
    Array.prototype['+'] = function(r) {return this.concat(r)}
    Array.prototype['*'] = function(r) {return __array_times_number(this, r)}
    window.__GSlang = "vpython";
    display = canvas;
    vector = vec;
    print = GSprint;
    arange = range;
    __name__ = "__main__";
    type = pytype;
    scene = canvas();
    fontloading();
    await waitforfonts();
    var strings = ρσ_modules.pythonize.strings;

    strings();
    "2";
    ρσ_interpolate_kwargs.call(this, button, [ρσ_desugar_kwargs({text: "Start", pos: scene.title_anchor, bind: start_insert})]);
    "3";
    tintro = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Click on the start button to begin", align: "center", color: color.green, pos: vector(0, 11, 0)})]);
    "4";
    tintro1 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Click on the start button to begin again", align: "center", color: color.green, pos: vector(0, 11, 0)})]);
    "5";
    tintro1.visible = false;
    "6";
    (await delay(5));
    "7";
    function node() {;
    }
    node.prototype.__init__ = async function __init__(data) {
        var self = this;
        "9";
        self.data = data;
        "10";
        self.left = null;
        "11";
        self.right = null;
        "12";
        self.parent = null;
        "13";
        self.corof_x = 0;
        "14";
        self.corof_y = 0;
        "15";
        self.height = 0;
    };
    if (!node.prototype.__init__.__argnames__) Object.defineProperties(node.prototype.__init__, {
        __argnames__ : {value: ["data"]},
        __module__ : {value: null}
    });
    node.__argnames__ = node.prototype.__init__.__argnames__;
    node.__handles_kwarg_interpolation__ = node.prototype.__init__.__handles_kwarg_interpolation__;
    node.prototype.__repr__ = async function __repr__() {
                return "<"["+"](__name__)["+"](".")["+"](this.constructor.name)["+"](" #")["+"](this.ρσ_object_id)["+"](">");
    };
    node.prototype.__str__ = async function __str__() {
        return (await this.__repr__());
    };
    Object.defineProperty(node.prototype, "__bases__", {value: []});


    "17";
    async function delay(time) {
        var ρσ_ls, t, deltat;
        "18";
        t = 0;
        "19";
        deltat = .05;
        "20";
        while (t["<"](time)) {
            "21";
            (await rate(100));
            "22";
            t = t["+"](deltat);
        }
    };
    if (!delay.__argnames__) Object.defineProperties(delay, {
        __argnames__ : {value: ["time"]},
        __module__ : {value: null}
    });

    "23";
    async function start_insert(b) {
        var ρσ_ls, list_objects, ttopic, tins1, arr, n, x, i, depth, tins11, list_of_nodes, list_of_texts, list_of_edges, cor_x, cor_y, cor_z, val1, val_pow, diff, _GS_1, nodex, t_x, t_y, t_z, initial_list_of_texts, tia, t, data1, node1, root, index, edge, flag, flag1, tins2, del_node_data, tins5, tins6, tin4, tins3, answer;
        "24";
        list_objects = ρσ_list_decorate([]);
        "25";
        tintro.visible = false;
        "26";
        tintro1.visible = false;
        "27";
        b.disabled = true;
        "28";
        ttopic = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Binary Tree insertion and deletion", align: "center", color: color.green, pos: vector(0, 11, 0)})]);
        "29";
        list_objects.append(ttopic);
        "30";
        (await delay(5));
        "31";
        while (true) {
            "32";
            try {
                "33";
                tins1 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Enter the elements as an array with space inbetween", align: "center", color: color.yellow, pos: vector(0, 8, 0)})]);
                "34";
                (await delay(15));
                (await sleep(.1));
                "35";
                arr = input("Enter the elements as an array with space inbetween");
                "36";
                arr = (await arr.split(" "));
                "37";
                n = len(arr);
                "38";
                for (var ρσ_Index1 = 0; ρσ_Index1["<"](n); ρσ_Index1++) {
                    i = ρσ_Index1;
                    "39";
                    x = int(arr[(typeof i === "number" && i["<"](0)) ? arr.length["+"](i) : i]);
                }
                "40";
                depth = floor(log(n, 2));
                "41";
                break;
                "42";
            } catch (ρσ_Exception) {
                ρσ_last_exception = ρσ_Exception;
                {
                    "43";
                    tins1.visible = false;
                    "44";
                    tins11 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Enter elements in proper format", align: "center", color: color.red, pos: vector(0, 8, 0)})]);
                    "45";
                    (await delay(15));
                    "46";
                    tins11.visible = false;
                    "47";
                    continue;
                }
            }
        }
        "48";
        list_of_nodes = ρσ_list_decorate([]);
        "49";
        list_of_texts = ρσ_list_decorate([]);
        "50";
        list_of_edges = ρσ_list_decorate([]);
        "51";
        cor_x = 0;
        "52";
        cor_y = 0;
        "53";
        cor_z = 0;
        "54";
        val1 = 1;
        "55";
        val_pow = 1;
        "56";
        diff = depth;
        "57";
        _GS_1 = new node;
        (await _GS_1.__init__(0));
        nodex = _GS_1;
        "58";
        t_x = n["-u"]();
        "59";
        t_y = 5;
        "60";
        t_z = 0;
        "61";
        initial_list_of_texts = ρσ_list_decorate([]);
        "62";
        tins1.visible = false;
        "63";
        tia = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Input array representation of a tree : ", align: "center", color: color.yellow, pos: vector(0, t_y["+"](3), t_z)})]);
        "64";
        for (var ρσ_Index2 = 0; ρσ_Index2["<"](n); ρσ_Index2++) {
            i = ρσ_Index2;
            "65";
            t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: arr[(typeof i === "number" && i["<"](0)) ? arr.length["+"](i) : i], align: "center", color: color.orange, pos: vector(t_x, t_y, t_z)})]);
            "66";
            initial_list_of_texts.append(t);
            "67";
            t_x=t_x["+"](2);
        }
        "68";
        for (var ρσ_Index3 = 0; ρσ_Index3["<"](n); ρσ_Index3++) {
            i = ρσ_Index3;
            "69";
            (await delay(5));
            "70";
            initial_list_of_texts[(typeof i === "number" && i["<"](0)) ? initial_list_of_texts.length["+"](i) : i].visible = false;
            "71";
            if (ρσ_equals(i, n["-"](1))) {
                "72";
                tia.visible = false;
            }
            "73";
            data1 = int(arr[(typeof i === "number" && i["<"](0)) ? arr.length["+"](i) : i]);
            "74";
            _GS_1 = new node;
            (await _GS_1.__init__(data1));
            node1 = _GS_1;
            "75";
            if ((i === val1 || typeof i === "object" && ρσ_equals(i, val1))) {
                "76";
                cor_x = 2["**"](diff);
                "77";
                diff=diff["-"](1);
                "78";
                val1=val1["+"](2["**"](val_pow));
                "79";
                val_pow=val_pow["+"](1);
                "80";
                cor_y=cor_y["-"](3);
                "81";
            }
            if ((i === 0 || typeof i === "object" && ρσ_equals(i, 0))) {
                "82";
                root = node1;
                "83";
                root.parent = nodex;
                "84";
                t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: data1, align: "center", color: color.orange, pos: vector(cor_x, cor_y, cor_z)})]);
                "85";
                list_objects.append(t);
                "86";
                list_of_texts.append(t);
                "87";
            } else {
                "88";
                if (ρσ_equals(i["%"](2), 0)) {
                    "89";
                    index = (await Math.floor(i["-"](2)["/"](2)));
                    "90";
                    node1.corof_x = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x["+"](cor_x);
                    "91";
                    node1.corof_y = cor_y;
                    "92";
                    node1.parent = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index];
                    "93";
                    t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: data1, align: "center", color: color.orange, pos: vector(node1.corof_x, cor_y, cor_z)})]);
                    "94";
                    list_objects.append(t);
                    "95";
                    list_of_texts.append(t);
                    "96";
                    edge = ρσ_interpolate_kwargs.call(this, arrow, [ρσ_desugar_kwargs({pos: vector(list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x, cor_y["+"](3), cor_z), axis: vector(cor_x, 2.5["-u"](), cor_z), shaftwidth: .1})]);
                    "97";
                    list_objects.append(edge);
                    "98";
                    list_of_edges.append(edge);
                    "99";
                    list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].right = node1;
                    "100";
                } else {
                    "101";
                    index = (await Math.floor(i["-"](1)["/"](2)));
                    "102";
                    node1.corof_x = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x["-"](cor_x);
                    "103";
                    node1.corof_y = cor_y;
                    "104";
                    node1.parent = list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index];
                    "105";
                    t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: data1, align: "center", color: color.orange, pos: vector(node1.corof_x, cor_y, cor_z)})]);
                    "106";
                    list_objects.append(t);
                    "107";
                    list_of_texts.append(t);
                    "108";
                    edge = ρσ_interpolate_kwargs.call(this, arrow, [ρσ_desugar_kwargs({pos: vector(list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].corof_x, cor_y["+"](3), cor_z), axis: vector(cor_x["-u"](), 2.5["-u"](), cor_z), shaftwidth: .1})]);
                    "109";
                    list_of_edges.append(edge);
                    "110";
                    list_objects.append(edge);
                    "111";
                    list_of_nodes[(typeof index === "number" && index["<"](0)) ? list_of_nodes.length["+"](index) : index].left = node1;
                }
            }
            "112";
            list_of_nodes.append(node1);
        }
        "115";
        flag = true;
        "116";
        while (flag) {
            "117";
            flag1 = false;
            "118";
            while (true) {
                "119";
                tins2 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Enter an element to be deleted", align: "center", color: color.cyan, pos: vector(0, 8, 0)})]);
                "120";
                (await delay(15));
                "121";
                tins2.visible = false;
                "122";
                try {
                    (await sleep(.1));
                    "123";
                    del_node_data = int(input("Enter an element to be deleted"));
                    "124";
                    break;
                    "125";
                } catch (ρσ_Exception) {
                    ρσ_last_exception = ρσ_Exception;
                    {
                        "126";
                        tins5 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Enter element in proper format : ", align: "center", color: color.red, pos: vector(0, 8, 0)})]);
                        "127";
                        (await delay(15));
                        "128";
                        tins5.visible = false;
                        "129";
                        continue;
                        "130";
                    }
                }
            }
            if ((n === 1 || typeof n === "object" && ρσ_equals(n, 1)) && (list_of_nodes[0].data === del_node_data || typeof list_of_nodes[0].data === "object" && ρσ_equals(list_of_nodes[0].data, del_node_data))) {
                "131";
                list_of_nodes.pypop(1["-u"]());
                "132";
                list_of_texts[0].visible = false;
                "133";
                list_of_texts.pypop(1["-u"]());
                "134";
                flag = false;
                "135";
                tins6 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Tree is deleted", align: "center", color: color.cyan, pos: vector(0, 8, 0)})]);
                "136";
            } else {
                "137";
                for (var ρσ_Index4 = 0; ρσ_Index4["<"](n); ρσ_Index4++) {
                    i = ρσ_Index4;
                    "138";
                    if ((list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].data === del_node_data || typeof list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].data === "object" && ρσ_equals(list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].data, del_node_data))) {
                        "139";
                        if (ρσ_equals(i, n["-"](1))) {
                            "140";
                            list_of_nodes.pypop(1["-u"]());
                            "141";
                            list_of_texts[(typeof i === "number" && i["<"](0)) ? list_of_texts.length["+"](i) : i].visible = false;
                            "142";
                            list_of_edges[ρσ_bound_index(n["-"](2), list_of_edges)].visible = false;
                            "143";
                            list_of_texts.pypop(1["-u"]());
                            "144";
                            list_of_edges.pypop(1["-u"]());
                            "145";
                            flag1 = true;
                            "146";
                            n=n["-"](1);
                            "147";
                            break;
                        }
                        "148";
                        list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].data = list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].data;
                        "149";
                        if ((list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent !== null && (typeof list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent !== "object" || ρσ_not_equals(list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent, null))) && (list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.left === list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)] || typeof list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.left === "object" && ρσ_equals(list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.left, list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)]))) {
                            "150";
                            list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.left = null;
                            "151";
                        } else if ((list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent !== null && (typeof list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent !== "object" || ρσ_not_equals(list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent, null))) && (list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.right === list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)] || typeof list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.right === "object" && ρσ_equals(list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.right, list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)]))) {
                            "152";
                            list_of_nodes[ρσ_bound_index(n["-"](1), list_of_nodes)].parent.left = null;
                        }
                        "153";
                        list_of_nodes.pypop(1["-u"]());
                        "154";
                        list_of_texts[(typeof i === "number" && i["<"](0)) ? list_of_texts.length["+"](i) : i].visible = false;
                        "155";
                        t = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: list_of_texts[ρσ_bound_index(n["-"](1), list_of_texts)].text, align: "center", color: color.orange, pos: vector(list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].corof_x, list_of_nodes[(typeof i === "number" && i["<"](0)) ? list_of_nodes.length["+"](i) : i].corof_y, cor_z)})]);
                        "156";
                        list_objects.append(t);
                        "157";
                        list_of_texts[(typeof i === "number" && i["<"](0)) ? list_of_texts.length["+"](i) : i] = t;
                        "158";
                        list_of_texts[ρσ_bound_index(n["-"](1), list_of_texts)].visible = false;
                        "159";
                        list_of_texts[(typeof i === "number" && i["<"](0)) ? list_of_texts.length["+"](i) : i].visible = true;
                        "160";
                        list_of_edges[ρσ_bound_index(n["-"](2), list_of_edges)].visible = false;
                        "161";
                        list_of_texts.pypop(1["-u"]());
                        "162";
                        list_of_edges.pypop(1["-u"]());
                        "163";
                        n = n["-"](1);
                        "164";
                        flag1 = true;
                        "165";
                        break;
                        "166";
                    }
                }
                if (!(flag1)) {
                    "167";
                    tin4 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "The element you entered is not in the given tree.", align: "center", color: color.red, pos: vector(0, 8, 0)})]);
                    "168";
                    (await delay(15));
                    "169";
                    tin4.visible = false;
                    "170";
                    continue;
                }
                "171";
                tins3 = ρσ_interpolate_kwargs.call(this, text, [ρσ_desugar_kwargs({text: "Do you want to delete more? Then type YES else type NO", align: "center", color: color.cyan, pos: vector(0, 8, 0)})]);
                "172";
                (await delay(15));
                "173";
                tins3.visible = false;
                (await sleep(.1));
                "174";
                answer = input("Do you want to delete more? Then type YES else type NO");
                "175";
                if (!((ρσ_equals((await answer.lower()), "yes")))) {
                    "176";
                    flag = false;
                }
            }
        }
        "177";
        var ρσ_Iter5 = list_objects;
        ρσ_Iter5 = ((typeof ρσ_Iter5[Symbol.iterator] === "function") ? (ρσ_Iter5 instanceof Map ? ρσ_Iter5.keys() : ρσ_Iter5) : Object.keys(ρσ_Iter5));
        for (var ρσ_Index5 of ρσ_Iter5) {
            i = ρσ_Index5;
            "178";
            i.visible = false;
        }
        "179";
        tintro1.visible = true;
        "180";
        b.disabled = false;
    };
    if (!start_insert.__argnames__) Object.defineProperties(start_insert, {
        __argnames__ : {value: ["b"]},
        __module__ : {value: null}
    });

};
if (!__main__.__module__) Object.defineProperties(__main__, {
    __module__ : {value: null}
});

;$(function(){ window.__context = { glowscript_container: $("#glowscript").removeAttr("id") }; __main__() })})()
// END JAVASCRIPT

//--><!]]></script>
</div>